<div class="card card-body">
  <h3>Ask Question</h3>
  <form action="/questions" method="post">
    <div class="form-group">
      <label for="title">Question</label>
      <input type="text" class="form-control" name="title" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" class="form-control" required></textarea>
    </div>
      <div class="form-group">
          <label for="branch">Branch</label>
          <select name="branch" value="{{branch}}">
              <option value="CSE">CSE</option>
              <option value="MECH">MECH</option>
              <option value="ETC">ETC</option>
              <option value="CIVIL">CIVIL</option>
              <option value="AE">AE</option>
          </select>

      </div>
      <div class="form-control">

          <label for="topics">Topics</label>
          <input type="text" name="topics" value="{{topics}}" data-role="tagsinput" class="typeahead tt-query"/>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>